@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

body {
    padding-top: 100px;
    width: 100%;
}

header {
    background: black;

    position: absolute;
    top: 0;
    width: 100%;
    height: 5em;
    left: 0px;
}

#headerTitle {
    padding-left: 50px;
    float: left;
    color: white;

}

#headerUsername {
    padding-right: 50px;
    padding-top: 10px;
    float: right;
    color: white;
}

.headerInfo {
    padding-right: 50px;
    float: right;
    color: white;
    text-decoration: none;
}


#welcome {
    text-align: center;
}
#welcome h1 {
    font-size: 50px;
}

nav {
    padding-top: 50px;

}

nav h1 {
    font-size: 35px;
}

nav a {

    color: black;
    font-size: 20px;
    text-decoration: none;
}

#viewFeed {
    background: #30343b;
    height: 60vh;
}

#viewFeed h1 {
    color: white;
    text-align: left;
    padding: 175px 0 0  250px;
    font-family: 'Varela Round', sans-serif;
    font-size: 55px;
}

#viewFeed h4 {
    color: white;
    text-align: left;
    padding: 0 0 0  250px;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}

.button {
 font-family: 'Varela Round', sans-serif;
  font: bold;
  font-size: 55px;
  text-decoration: none;
  background-color: #30343b;
  padding: 0 0 0 1000px;
  color: white;
  border-radius: 20px;
  border-color: white;
  border-width: 5px;
}


