<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <header>
        <h1 id="headerTitle">Runtime Terror </h1>
        <h4 id="headerUsername">
            {% if user %}
                    <a href="{{ url_for('logout') }}" class="headerInfo">Logout</a>
            {% else %}
                    <a href="{{ url_for('login') }}"  class="headerInfo">Sign In</a>
                    <a href="{{ url_for('register') }}" class="headerInfo">Register</a>
            {% endif %}

            <a href="{{ url_for('index') }}" class="headerInfo">&nbsp;&nbsp;&nbsp; Home</a>
            {% if user %}{{currentuser}}{% endif %}
        </h4>
    </header>
    <body>
        <div id="welcome">
            <h1>Welcome {% if user %}{{currentuser}}{% endif %} to Runtime Terror</h1>
            <h3>Share your thoughts and questions with the world!</h3>
        </div>
        <div>
            <nav>
                <h1 id="feedTitle">Feed</h1>
                <a href="{{ url_for('new_post') }}">  Create Post</a>
                <a href="{{ url_for('get_posts') }}">  My Posts</a>
                <a href="">  Create Poll</a>
            </nav>
        </div>
        <div class="viewFeed">
            <table>
                 <tr>
                     <th>Username</th>
                     <th>Title</th>
                     <th>Question</th>
                 </tr>
                 {% for post in posts %}
                 <tr>
                     <div class="postPreview">
                         <td>{{ user }}</td>
                         <td><a href="{{ url_for('get_post', post_id=post.id) }}">{{ post.title }}</a></td>
                         <td><a href="{{ url_for('get_post', post_id=post.id) }}">{{ post.text }}</a></td>
                     </div>
                 </tr>
                {% endfor %}
            </table>
        </div>
    </body>
</html>
