<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <header>
        <h1 id="headerTitle">Runtime Terror </h1><h4 id="headerUsername"><a href="{{ url_for('index') }}" id="headerHome">&nbsp;&nbsp;&nbsp; Home</a>{% if user %}{{user}}{% endif %}</h4>
    </header>
    <body>
        <div id="welcome">
            <h1>Welcome {% if user %}{{user}}{% endif %} to Runtime Terror</h1>
            <h3>Share your thoughts and questions with the world!</h3>
        </div>
        <div>
            <nav>
                <a href="{{ url_for('new_post') }}">  Create Post</a>  ||
                <a href="{{ url_for('get_posts') }}">  View Posts</a>  ||
                <a href="">  Create Poll</a>
            </nav>
        </div>
        <div id="viewFeed">

            <h1>VIEW YOUR <br>POSTS NOW</h1>
            <a href="{{ url_for('get_posts') }}" class="button">View Now</a>
            <h4>See what others have to say about <br>your posts!</h4>

        </div>
    </body>
</html>
