<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <header>
        <h1 id="headerTitle">Runtime Terror </h1>
        <h4 id="headerUsername">
            <a href="{{ url_for('logout') }}" class="headerInfo">Logout</a>
            <a href="{{ url_for('index') }}" class="headerInfo">&nbsp;&nbsp;&nbsp; Home</a>
            {% if user %}{{user}}{% endif %}
        </h4>
    </header>
    <body>
        <div id="welcome">
            <h1>Welcome {% if user %}{{user}}{% endif %} to Runtime Terror</h1>
            <h3>Share your thoughts and questions with the world!</h3>
        </div>
        <div>
            <nav>
                <h1>New Post</h1>
                <a href="{{ url_for('new_post') }}">  Create Post</a>
                <a href="{{ url_for('get_posts') }}">  My Posts</a>
                <a href="">  Create Poll</a>
            </nav>
        </div>
        <div class="content">
            {% if post %}
                <form action="{{ url_for('update_post', post_id=post.id) }}" method="post">
            {% else %}
                <form action="new" method="post">
            {% endif %}
                    <p><label>Title </label></p>
                    <p><input type="text" name="title" value="{% if post %}{{post.title}} {% endif %}"/></p>
                    <p><label>Post </label></p>
                    <p>
                        <textarea name="postText"  rows="6" cols="0">
                            {% if post %}
                                {{post.text}}
                            {% else %}
                                Add your new question here ...
                            {% endif %}
                         </textarea>
                    </p>
                    <p>
                        {% if post %}
                            <input type="submit" value="Update Post"/>
                        {% else %}
                            <input type="submit" value="Add Post"/>
                        {% endif %}
                    </p>
                </form>
                </form>
        </div>


    </body>
</html>
