<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="UNCC Notes App">
        <title>UNCC Notes App</title>
        <!-- styles -->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <header>
   <header>
        <h1 id="headerTitle">Runtime Terror </h1>
        <h4 id="headerUsername">
            <a href="{{ url_for('logout') }}" class="headerInfo">Logout</a>
            <a href="{{ url_for('index') }}" class="headerInfo">&nbsp;&nbsp;&nbsp; Home</a>
            {% if user %}{{user}}{% endif %}
        </h4>
    </header>    </header>
    <body>
        <div id="welcome">
            <h1>Welcome {% if user %}{{user}}{% endif %} to Runtime Terror</h1>
            <h3>Share your thoughts and questions with the world!</h3>
        </div>
        <div>
             <nav>
                <a href="{{ url_for('new_post') }}">  Create Post</a>  ||
                <a href="{{ url_for('get_posts') }}">  View Posts</a>  ||
                <a href="">  Create Poll</a>
            </nav>
        </div>
        <div>
            <h1>Recent Posts</h1>
            <table>
                 <tr>
                     <th>Username</th>
                     <th>Title</th>
                     <th>Question</th>
                 </tr>
                 {% for post in posts %}
                 <tr>
                     <div class="postPreview">
                         <td>{{ user }}</td>
                         <td><a href="{{ url_for('get_post', post_id=post.id) }}">{{ post.title }}</a></td>
                         <td><a href="{{ url_for('get_post', post_id=post.id) }}">{{ post.text }}</a></td>
                          <td>
                                <form action="{{ url_for('delete_post', post_id=post.id) }}" method="post">
                                    <input type="submit" value="Delete">
                                </form>
                          </td>
                         <td><a href="{{ url_for('update_post', post_id=post.id) }}">Edit</a></td>
                     </div>
                 </tr>
                 {% endfor %}
            </table>
        </div>
    </body>
</html>
